body{
	line-height:1.4;
	background:white;
}
body,input,textarea,select{
	font-size:12px;
	color:#333;
	font-family:arial;
}
input{
	outline:none;
}
body,h1,h3,h4,p,ul,ol,li{margin:0;padding:0;}
a{cursor:pointer;color:#3d95b5;}
a,ul,li{
	text-decoration:none;
	list-style:none;
}
.fl{float:left;}
.fr{float:right;}
.layout_mid{
	margin:0 auto;
	width:940px;
}
.bg{
	background:url('images/ybole_index.png') no-repeat -999em 0;
}
#index_top{
	background-image:url('images/ybole_index_top.png');
	background-repeat:repeat-x;
	height:125px;
	width:100%;
}
.ybole_logo{
	background-image:url('images/ybole_logo.png');
	width:200px;
	height:82px;
	margin-top:17px;
	margin-left:30px;
}
.searcharea {
	width:500px;
	height:38px;
	border:2px #2a97ca solid;
	margin-top:59px;
	margin-right:0px;
	background-color:white;
	display:inline;
	filter:Glow(Color:#CCFF99, Strength:20);
	display:inline;
}
.search_info{
	border:0px white solid;
	width:350px;
	height:22px;
	line-height:22px;
	color:#6d95a8;
	font-size:18px;
	font-family:微软雅黑,宋体 ;
	margin-left:5px;
	position:relative;
	top:5px;
}
.jobcategory{	
	background-position:-1px 1px;
	width:102px;
	height:35px;
	border:0px;
	color:white;
	cursor:pointer;
	margin-right:2px;
}
.btn_search{
	background-position:-104px 1px;
	height:35px;
	width:35px;
	border:0px;
	cursor:pointer;
	margin-right:1px;
}
.categorydetail{
	width:500px;
	height:94px;
	clear:both;
	z-index:9999;
	position:relative;
	display:none;
}
.arrow1,.arrow2{
	width:0;
	height:0;
	position:relative;
	left:20px;
	overflow:hidden;
	border-left:6px dotted transparent; 
	border-right:6px dotted transparent;
	border-bottom:6px solid transparent;
}

.arrow1{top:-3px;border-bottom-color:#fff;z-index:99;}
.arrow2{top:-10px;border-bottom-color:#2a97ca;z-index:98;}
.detailbox{
	width:500px;
	height:85px;
	border:1px #2a97ca solid;
	position:relative;
	top:-10px;
	left:-1px;
	background-color:white;
	border-top:0px white solid;
}
.detailbox ul li{
	width:150px;
	height:26px;
	float:left;
	color:#576b80;
}
.index_wrap{
	height:500px;
}
#index_info{
	background-position:0px -38px;
	width:271px;
	height:331px;
	-height:333px;
	margin-top:-3px;
	_margin-top:-4px;
}
.index_login{
	background-position:-49px -68px;
	width:173px;
	height:32px;
	margin-left:49px;
	margin-top:30px;
	border:0px;
	cursor:pointer;
}
#index_msgs{
	position: relative;
	width:661px;
	height:321px;
	margin-top:6px;
	margin-left:8px;
	_1overflow:hidden;
	z-index:100;
}
#index_msgs .bglt{
	background-position:-274px -38px;
	width:35px;
	height:321px;
}
#index_msgs .bgmid{
	width:591px;
	height:305px;
	border-top:8px #bce9fd solid;
	border-bottom:8px #ffe678 solid;
}
#index_msgs .bgrt{
	background-position:-310px -38px;
	width:35px;
	height:321px;
}

#index_msgs .bottom_cover{
	position: absolute;
	bottom: 15px;
	left: 30px;
	background: url('images/bottomcover.png') no-repeat;
	height: 40px;
	width: 590px;
}

.list_msgs{
	width:591px;
	height:293px;
	border-top:1px #ace4fd solid;
	border-bottom:1px #ffe05f solid;
	_overflow:hidden;
	overflow:hidden;
}

.index_listitem{
	width:590px;
	height:105px;
	_height:102px;
	border-top:1px #cccccc dashed;
	
}
.item_pic{
	width:50px;
	height:50px;
	padding:5px;
	margin-top:17px;
	border:1px #cccccc solid;
}
.item_content{
	width:500px;
	margin-top:15px;
	margin-left:20px;
	color:#333;
	font-family:宋体, 微软雅黑;
	font-size:12px;
	line-height:22px;
}
.item_content a.nickname{
	font-weight:bold;
}
li:first-child{
	border-top:0px;
}
.msg_newnum{
	background-position:-140px -3px;
	width:191px;
	height:34px;
	margin-right:33px;
	color:#737272;
	font-size:14px;
	font-family:幼圆;
	font-weight:bold;
	text-align:center;
	float:right;
}
#index_hotnews{
	width:940px;
	height:180px;
	float:left;
}
#index_hotnews .title{
	font-family:幼圆;
	font-size:24px;
	font-weight:bold;
	padding-top:20px;
	color:#e22700;
}
#index_hotnews .hotjobs{
	width:940px;
	height:22px;
	line-height:22px;
	border-left:2px #2ea5dc solid;
	font-family:宋体, 微软雅黑;
	font-size:14px;
	color:#2ea5dc;
	margin-top:10px;
}
#index_hotnews .hotjobs a{
	margin-left:10px;
}
#index_hotnews .hotjobs a:hover{
	background-color:#bce9fd;
}
.hotcompanys{
	width:940px;
	height:44px;
	line-height:44px;
	border-left:2px #878787 solid;
	margin-top:10px;
}
ul.hotcompanys li{
	width:173px;
	height:42px;
	background:url('images/company.png') no-repeat -999em 0;	
	float:left;
	margin-left:10px;
}
#cp1{background-position:0px 0px;}
#cp2{background-position:0px -44px;}
#cp3{background-position:0px -88px;}
#cp4{background-position:0px -132px;}
#cp5{background-position:0px -176px;}
#index_foot{
	height:60px;
	width:340px;
	border-top:1px #d9d9d9 solid;
	font-size:12px;
	color:#727272;
	text-align:center;
	padding:10px;
	margin:0px auto;
	line-height:22px;
	clear:both;
}