body
{
    font-size: 12px;
    background-color: #f2f6fe;
    background-image: url('../images/background.jpg');
    background-repeat: repeat-x;
    overflow:auto;
}
body, a, input, span, img
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover
{
    text-decoration: underline;
}
a, input, img, textarea
{
    outline: none;
}
img
{
    border: none;
}
div#header
{
    width: 980px;
    height: 31px;
    background-color: #d1e9f1;
    line-height: 31px;
    margin: auto;
}
div#links
{
    padding-left: 50px;
}
div#links a
{
    color: #5a7b92;
    padding: 0 10px;
    border-right: 1px #5a7b92 solid;
    height: 12px;
    margin-top: 10px;
    line-height: 14px;
}
div#links a.last
{
    border-right: none;
}

div#infos
{
    padding-right: 30px;
}
div#infos a.logined
{
    padding: 0 10px;
    color: #5a7b92;
}
div#infos a.selected
{
    background-color: #eaf1fe;
}
div#infos a.orange
{
    color: #df7902;
}
div#infos a#sina-login
{
    height: 22px;
    width: 114px;
    background-image: url('../images/sina-login.jpg');
    margin-top: 4px;
}

div#logo-search
{
    height: 100px;
    width: 980px;
    margin: auto;
}
div#logo-search a#logo
{
    height: 65px;
    width: 147px;
    background-image: url('../images/logo.jpg');
    margin-top: 17px;
    margin-left: 60px;
}

div#logo-search div#search-bar
{
    background-image: url('../images/search-bar.jpg');
    height: 52px;
    width: 606px;
    margin-top: 38px;
    margin-left: 20px;
}
div#logo-search div#search-bar a.sort
{
    height: 14px;
    line-height: 14px;
    color: #ebf1fe;
    margin-top: 19px;
}
div#logo-search div#search-bar a#sort
{
    margin-left: 15px;
    width: 60px;
    text-align: center;
}
div#logo-search div#search-bar a#sort-triangle
{
    margin-left: 2px;
    font-family: Webdings;
}
div#logo-search div#search-bar input#search-text
{
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: none;
    height: 24px;
    width: 370px;
    color: #adadad;
    margin-top: 14px;
    margin-left: 20px;
    font-weight: bold;
}
div#logo-search div#search-bar a#search-button
{
    height: 32px;
    width: 92px;
    margin-left: 24px;
    margin-top: 8px;
}

div#sorts
{
    height: 289px;
    width: 294px;
    display: none;
}
div#sorts-tag
{
    width: 77px;
    height: 35px;
    background-color: #f8fcff;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    line-height: 35px;
    text-align: center;
    color: #527299;
    padding-left: 5px;
}
a#sorts-name
{
    width: 60px;
    text-align: center;
}
a#sorts-triangle
{
    font-family: Webdings;
}
div#sorts-content
{
    width: 294px;
    background-color: #f8fcff;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding-top: 10px;
    border: 1px #9c9c9c solid;
}
div.sorts-item
{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 2px;
    color: #527299;
}
div.sorts-item-alternative
{
    background-color: #f0f5fe;
}
div.sorts-item-over
{
    color: #ef7a0d;
    text-decoration: underline;
}

div#company
{
    height: 38px;
    background-image: url('../images/company-background.jpg');
    background-repeat: repeat-x;
}
div#company span.company-name
{
    height: 14px;
    line-height: 14px;
    color: #496a8a;
    margin-top: 13px;
    margin-left: 20px;
}
div#company div#companies
{
    width: 840px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 38px;
}
div#company div#companies-inner
{
    position: relative;
}
div#company a.company-name
{
    height: 14px;
    line-height: 14px;
    color: #496a8a;
    margin-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px #b0c2d7 solid;
}
div#company a.last
{
    border-right: none;
}
div#company div#company-control
{
    height: 38px;
    width: 40px;
}
div#company a.company-control
{
    height: 38px;
    width: 20px;
    line-height: 38px;
    text-align: center;
    color: #334a5a;
    font-size: 18px;
}

div#cover
{
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

div#jobs-publish
{
    display: none;
    height: 307px;
    width: 559px;
    border: 5px #717171 solid;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
div#jobs-publish-title
{
    height: 31px;
    width: 559px;
    background-color: #91d078;
    background-image: url('../images/jobs-publish-pic.jpg');
    background-repeat: no-repeat;
    background-position: 15px center;
}
div#jobs-publish-title span
{
    height: 31px;
    line-height: 31px;
    color: #ffffff;
    font-size: 18px;
    font-family: 微软雅黑, 宋体;
    letter-spacing: 8px;
    padding-left: 45px;
}
div#jobs-publish-title a
{
    height: 16px;
    width: 16px;
    background-image: url('../images/jobs-publish-close.jpg');
    margin-top: 7px;
    margin-right: 7px;
}
div#jobs-publish-content
{
    height: 276px;
    width: 559px;
    background-color: #dff4dc;
}
div#jobs-publish-remain
{
    height: 40px;
    width: 549px;
    text-align: right;
    color: #577a4a;
    letter-spacing: 2px;
    line-height: 40px;
    padding-right: 10px;
}
div#jobs-publish-text
{
    height: 103px;
    width: 559px;
    background-image: url('../images/jobs-publish-text.jpg');
    background-repeat: no-repeat;
    background-position: 12px center;
}
div#jobs-publish-text textarea
{
    height: 94px;
    width: 526px;
    margin-top: 4px;
    margin-left: 17px;
    border: none;
    background-color: #f5f5f5;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}
div#jobs-publish-tags
{
    margin-top: 10px;
    height: 28px;
    width: 559px;
    background-image: url('../images/jobs-publish-tags.jpg');
    background-repeat: no-repeat;
    background-position: 85px center;
}
div#jobs-publish-tags span#jobs-publish-tags-title
{
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    color: #577a4a;
    letter-spacing: 4px;
    width: 70px;
    text-align: center;
}
div#jobs-publish-tags span#jobs-publish-tags-ps
{
    margin-left: 12px;
    height: 28px;
    line-height: 28px;
    color: #8c8c8c;
    letter-spacing: 1px;
    text-align: center;
}
div#jobs-publish-tags input
{
    width: 320px;
    margin-top: 7px;
    margin-left: 6px;
    border: none;
    background-color: #f5f5f5;
}
div#jobs-publish-tags-hot
{
    margin-top: 10px;
    height: 28px;
    width: 559px;
}
div#jobs-publish-tags-hot span#jobs-publish-tags-hot-title
{
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    color: #577a4a;
    letter-spacing: 4px;
    width: 70px;
    text-align: center;
}
div#jobs-publish-tags-hot a.jobs-publish-tags-hot-item
{
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin: 0 5px;
    background-color: #91d078;
    color: #ffffff;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}
div#jobs-publish-confirm
{
    margin-top: 10px;
    height: 36px;
    width: 529px;
    padding-right: 30px;
}
div#jobs-publish-confirm a
{
    height: 36px;
    width: 115px;
    background-image: url('../images/jobs-publish-confirm.jpg');
}
div#recruitment-publish
{
    display: none;
    height: 307px;
    width: 559px;
    border: 5px #717171 solid;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
div#recruitment-publish-title
{
    height: 31px;
    width: 559px;
    background-color: #7cb5da;
    background-image: url('../images/recruitment-publish-pic.jpg');
    background-repeat: no-repeat;
    background-position: 15px center;
}
div#recruitment-publish-title span
{
    height: 31px;
    line-height: 31px;
    color: #ffffff;
    font-size: 18px;
    font-family: 微软雅黑, 宋体;
    letter-spacing: 8px;
    padding-left: 45px;
}
div#recruitment-publish-title a
{
    height: 16px;
    width: 15px;
    background-image: url('../images/recruitment-publish-close.jpg');
    margin-top: 7px;
    margin-right: 7px;
}
div#recruitment-publish-content
{
    height: 276px;
    width: 559px;
    background-color: #e2edf2;
}
div#recruitment-publish-remain
{
    height: 40px;
    width: 549px;
    text-align: right;
    color: #435c79;
    letter-spacing: 2px;
    line-height: 40px;
    padding-right: 10px;
}
div#recruitment-publish-text
{
    height: 103px;
    width: 559px;
    background-image: url('../images/recruitment-publish-text.jpg');
    background-repeat: no-repeat;
    background-position: 12px center;
}
div#recruitment-publish-text textarea
{
    height: 94px;
    width: 526px;
    margin-top: 4px;
    margin-left: 17px;
    border: none;
    background-color: #f5f5f5;
}
div#recruitment-publish-tags
{
    margin-top: 10px;
    height: 28px;
    width: 559px;
    background-image: url('../images/recruitment-publish-tags.jpg');
    background-repeat: no-repeat;
    background-position: 85px center;
}
div#recruitment-publish-tags span#recruitment-publish-tags-title
{
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    color: #435c79;
    letter-spacing: 4px;
    width: 70px;
    text-align: center;
}
div#recruitment-publish-tags span#recruitment-publish-tags-ps
{
    margin-left: 12px;
    height: 28px;
    line-height: 28px;
    color: #8c8c8c;
    letter-spacing: 1px;
    text-align: center;
}
div#recruitment-publish-tags input
{
    width: 320px;
    margin-top: 7px;
    margin-left: 6px;
    border: none;
    background-color: #f5f5f5;
}
div#recruitment-publish-tags-hot
{
    margin-top: 10px;
    height: 28px;
    width: 559px;
}
div#recruitment-publish-tags-hot span#recruitment-publish-tags-hot-title
{
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    color: #435c79;
    letter-spacing: 4px;
    width: 70px;
    text-align: center;
}
div#recruitment-publish-tags-hot a.recruitment-publish-tags-hot-item
{
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin: 0 5px;
    background-color: #7cb5da;
    color: #ffffff;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}
div#recruitment-publish-confirm
{
    margin-top: 10px;
    height: 36px;
    width: 529px;
    padding-right: 30px;
}
div#recruitment-publish-confirm a
{
    height: 36px;
    width: 114px;
    background-image: url('../images/recruitment-publish-confirm.jpg');
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.absolute
{
    position: absolute;
}
.inner
{
    width: 962px;
    margin: auto;
}
