div#content
{
    margin-top: 10px;
}
div#left
{
    width: 300px;
    overflow: hidden;
}
div#left div.left-title
{
    height: 24px;
    line-height: 24px;
    margin-bottom: 3px;
    margin-top: 20px;
}
div#left div.first
{
    margin-top: 0px;
}
div#left span.left-title-text
{
    height: 24px;
    line-height: 24px;
    font-family: 微软雅黑, 宋体;
    font-size: 16px;
    color: #4e88af;
    margin-left: 5px;
}
div#left a.left-title-pic
{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
}
div#left a#concern-pic
{
    background-image: url('../images/concern-rss.jpg');
    display: none;
}
div#left a#concern-pic
{
    background-image: url('../images/concern-rss.jpg');
    display: none;
}
div#left div.concern-item
{
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    cursor: pointer;
}
div#left a.concern-item-delete
{
    width: 25px;
    height: 25px;
    background-image: url('../images/concern-delete.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
div#left div.concern-item-content
{
    width: 275px;
    height: 25px;
    font-size: 15px;
    font-family: 微软雅黑, 宋体;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}
div#left div.concern-item-content
{
    background-color: #cae4e9;
    color: #659abe;
}
div#left a.concern-item-delete
{
    visibility: hidden;
}
div#left div.concern-item-over div.concern-item-content
{
    background-color: #7cb5da;
    color: #ffffff;
}
div#left div.concern-item-over a.concern-item-delete
{
    visibility: visible;
}
div#left div.concern-item-content-new
{
    font-weight: bold;
}
div#left a.concern-item-content-info
{
    margin-left: 5px;
}
div#left a.concern-item-content-number
{
    margin-right: 5px;
}
div#left a:hover
{
    text-decoration:none;
}
