div#manager-title
{
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}
div#manager-title span.manager-title
{
    width: 57px;
    background-image: url('../images/manager-pic.jpg');
    background-repeat: no-repeat;
    background-position: 5px center;
    height: 30px;
    color: #df7902;
    padding-left: 25px;
}
div#manager-title span.manager-title-tag
{
    width: 116px;
    background-image: url('../images/manager-title-tag.jpg');
    background-repeat: no-repeat;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
}
div#manager-content
{
    background-image: url('../images/manager-content.jpg');
    background-repeat: no-repeat;
    padding-top: 10px;
    overflow: hidden;
}
div#content-left
{
    width: 164px;
    padding-top: 20px;
}
div#manager-control
{
    width: 164px;
    height: 160px;
    background-color: #ebf1fe;
}
a.manager-control
{
    width: 139px;
    height: 37px;
    border-bottom: 1px #ccddf0 dashed;
    line-height: 37px;
    text-align: left;
    font-size: 18px;
    font-family: 微软雅黑, 宋体;
    color: #3e82af;
    padding-left: 25px;
}
a.manager-control-choose
{
    background-image: url('../images/manager-control-background.jpg');
    background-repeat: no-repeat;
}
a.publish-button
{
    height: 37px;
    width: 137px;
    margin-top: 20px;
    margin-left: 10px;
}
a#jobs-publish-button
{
    background-image: url('../images/jobs-publish-button.jpg');
}
a#recruitment-publish-button
{
    background-image: url('../images/recruitment-publish-button.jpg');
}

div#content-middle
{
    width: 610px;
    border: 1px #e5eaf7 solid;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    background-color: #ffffff;
    padding: 10px;
}
div#content-middle-delete
{
    height: 15px;
    line-height: 15px;
}
div#content-middle-delete a
{
    padding: 0 0 0 20px;
    background-image: url('../images/manager-conten-middle-deletet.jpg');
    background-repeat: no-repeat;
}

div.item
{
    width: 607px;
    overflow: hidden;
    margin-top: 5px;
    border-bottom: 1px #dedede dashed;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.item-over
{
    background-image: url('../images/item-over-background.jpg');
    background-repeat: no-repeat;
}
div.item-delete
{
    height: 17px;
}
div.item-delete a
{
    width: 17px;
    height: 17px;
}
div.item-pic
{
    height: 50px;
    width: 50px;
    padding: 2px;
    border: 1px #ececec solid;
    background-color: #ffffff;
}
div.item-content
{
    width: 530px;
}
div.item-blog
{
    width: 530px;
    line-height: 20px;
    padding: 0 5px;
    font-size:14px;
    overflow:hidden;
}
a.item-blog-name
{
    color: #6f93ab;
    font-weight: bold;
}
a.item-blog-link
{
    color: #0084b4;
}
div.item-other
{
    height: 24px;
    line-height: 24px;
}
div.item-applys
{
    margin-top:5px;
    line-height: 24px;
    display:none;
}
div.item-applys span.item-applys-time
{
    margin-left:5px;
}
div.item-applys a.item-applys-name
{
    color: #7ba5d7;
}
div.item-applys a.item-applys-read
{
    color: #7ba5d7;
}
div.item-applys div
{
    height:24px;
    padding:0 20px;
}
span.item-time
{
    color: #a3a3a3;
    padding: 0 5px;
}
a.item-position
{
    color: #7ba5d7;
    margin: 0 10px;
}
a.item-control
{
    color: #7ba5d7;
    letter-spacing: 2px;
    padding: 0 10px;
    line-height: 14px;
    height: 14px;
    margin-top: 5px;
    border-left: 1px #7ba5d7 solid;
}
a.last
{
    border-left: none;
}
span.item-apply-name
{
    color: #7ba5d7;
    margin-left: 10px;
}
span.item-apply-info
{
    color: #2281a4;
    margin-right: 10px;
}
span.item-apply-info-read
{
    color: #ea7f37;
}
a.item-favourite
{
    letter-spacing: 2px;
    padding: 0 10px;
    line-height: 14px;
    height: 14px;
    margin-top: 5px;
}
a.item-action
{
    color: #2281a4;
}
a.item-doapply
{
    color: #ea7f37;
}
div#pages
{
    height: 21px;
    margin-top: 20px;
}
a.page-number
{
    height: 21px;
    padding: 0 6px;
    line-height: 21px;
    text-align: center;
    border: 1px #5c738f solid;
    color: #5c738f;
    margin: 0 2px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}
a.page-number-current
{
    background-color: #a4c8f4;
}
a.page-control
{
    height: 21px;
    padding: 0 6px;
    line-height: 21px;
    text-align: center;
    border: 1px #5c738f solid;
    background-color: #a4c8f4;
    color: #5c738f;
    margin: 0 2px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}
div#pages span
{
    height: 21px;
    line-height: 21px;
    text-align: center;
}

div#content-right
{
    background-color: #ebf1fe;
    width: 166px;
    overflow: hidden;
}
div#right-title
{
    height: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #949494;
}

div.ad-title
{
    line-height: 20px;
    color: #7ba5d7;
    padding: 0 10px;
    letter-spacing: 1px;
    padding-top: 10px;
}
div.ad-content
{
    line-height: 20px;
    color: #949494;
    padding: 0 10px;
    letter-spacing: 1px;
}
div.ad-address
{
    line-height: 20px;
    color: #7ba5d7;
    padding: 0 10px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
div#profile
{
    display: none;
}
div#profile-title
{
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}
div#profile-title span#title
{
    color: #3e82af;
    font-size: 16px;
    font-family: 微软雅黑, 宋体;
}
div#profile-title span#lasttime
{
    color: #999999;
}
div.profile-detail-title
{
    height: 47px;
    background-image: url('../images/profile-title-background.jpg');
    background-repeat: repeat-x;
}
div.profile-detail-title span
{
    color: #585858;
    margin-top: 15px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
}
div.profile-detail-title a
{
    height: 25px;
    width: 82px;
    line-height: 25px;
    text-align: center;
    background-image: url('../images/profile-title-button.jpg');
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-right: 20px;
    color: #496a8a;
}
div.profile-detail-title a:hover
{
    text-decoration: none;
}
div.profile-content
{
    overflow: hidden;
    padding: 10px 0;
}
div#info-content-left
{
    width: 400px;
}
div#info-content-right
{
    width: 210px;
}
span.info-content-title
{
    color: #b2b2b2;
    height: 30px;
    line-height: 30px;
    width: 150px;
    text-align: right;
}
input.info-content-words
{
    color: #585858;
    height: 16px;
    line-height: 16px;
    width: 200px;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px #ffffff solid;
}
input.info-content-words:hover
{
    border: 1px #b2b2b2 solid;
}
input.info-content-words-focus
{
    border: 1px #b2b2b2 solid;
}
div#info-pic
{
    height: 94px;
    width: 94px;
    margin-left: 53px;
    margin-top: 20px;
    border: 5px #ebf1fe solid;
    border-radius: 5px 5px;
}
div#info-pic div
{
    line-height: 24px;
    background-color: #dbeaf6;
    height: 24px;
    text-align: center;
}
div#info-pic-control
{
    line-height: 24px;
    height: 24px;
    text-align: center;
    margin-top: 15px;
    color: #585858;
}
div#info-pic-control
{
    line-height: 24px;
    height: 24px;
    text-align: center;
    margin-top: 15px;
    color: #585858;
}
div.education-item
{
    height: 30px;
    line-height: 30px;
    color: #585858;
    border-bottom: 1px #dcebf6 dashed;
}
div.education-item-over
{
    background-color: #e4eff9;
}
div.education-item span.school
{
    width: 100px;
    margin-left: 60px;
}
div.education-item span.time
{
    width: 120px;
}
div.education-item span.education
{
    width: 80px;
}
div.education-item span.major
{
    width: 80px;
}
div.education-header
{
    color: #b2b2b2;
}

div#profile-control
{
    display: none;
}
div#profile-control a
{
    height: 36px;
    width: 142px;
    margin-top: 20px;
    margin-left: 14px;
}
a#profile-preview
{
    background-image: url('../images/profile-preview.jpg');
    background-repeat: no-repeat;
}
a#profile-save
{
    background-image: url('../images/profile-save.jpg');
    background-repeat: no-repeat;
}
