body, a, input, span, img, textarea
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body
{
    width: 962px;
    margin: 0 auto;
    font-size: 12px;
    background-color: #f2f6fe;
    background-image: url('../images/background.jpg');
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif, 宋体 !important;
    font-family: 宋体;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover
{
    text-decoration: underline;
}
div#header
{
    width: 962px;
    height: 31px;
    background-color: #d1e9f1;
    line-height: 31px;
    margin: auto;
}
div#links
{
    padding-left: 10px;
}
div#links a
{
    color: #5a7b92;
    padding: 0 10px;
    border-left: 1px #5a7b92 solid;
    height: 12px;
    margin-top: 10px;
    line-height: 14px;
}
div#links a.first
{
    border-left: none;
}

div#infos
{
    padding-right: 10px;
}
div#infos a
{
    padding: 0 10px;
    color: #5a7b92;
}
div#infos a.selected
{
    background-color: #eaf1fe;
}
div#infos a.orange
{
    color: #df7902;
}
div#infos a#sina-login
{
    height: 22px;
    width: 114px;
    background-image: url('../images/sina-login.jpg');
    margin-top: 4px;
    padding: 0px;
}
div#logo-search
{
    height: 100px;
    width: 962px;
    margin: auto;
}
div#logo-search a#logo
{
    height: 71px;
    width: 172px;
    background-image: url('../images/logo-beta.jpg');
    margin-top: 17px;
    margin-left: 60px;
    text-align: right;
    padding-right: 9px;
    line-height: 24px;
    color: #697686;
}
div#logo-search a#logo:hover
{
    text-decoration: none;
}
div#logo-search div#search-bar
{
    background-image: url('../images/search-bar.jpg');
    height: 52px;
    width: 606px;
    margin-top: 38px;
    margin-left: 20px;
}
div#logo-search div#search-bar a#sort
{
    margin-left: 15px;
    width: 75px;
    text-align: center;
    height: 14px;
    line-height: 14px;
    color: #ebf1fe;
    margin-top: 19px;
}
div#logo-search div#search-bar input#search-text
{
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: none;
    height: 24px;
    width: 370px;
    color: #adadad;
    margin-top: 14px;
    margin-left: 20px;
    font-weight: bold;
}
div#logo-search div#search-bar a#search-button
{
    height: 32px;
    width: 92px;
    margin-left: 24px;
    margin-top: 8px;
}

div#company
{
    height: 38px;
    background-color: #ffffff;
    border: 1px #e7e7e7 solid;
}
div#company span.company-name
{
    height: 14px;
    line-height: 14px;
    color: #496a8a;
    margin-top: 13px;
    margin-left: 20px;
}
div#company div#companies
{
    width: 840px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
div#company div#companies-inner
{
    position: relative;
    height: 25px;
    padding-top: 13px;
}
div#company a.company-name
{
    height: 14px;
    color: #496a8a;
    padding: 0px 10px;
    border-left: 1px #b0c2d7 solid;
}
div#company a.first
{
    border-left: none;
}
div#company div#company-control
{
    height: 38px;
    width: 40px;
}
div#company a.company-control
{
    height: 38px;
    width: 20px;
    line-height: 38px;
    text-align: center;
    color: #334a5a;
    font-size: 18px;
}
div#company a.company-control:hover
{
    text-decoration: none;
}
div#footer
{
    margin-top: 30px;
    letter-spacing: 1px;
}
div#footer a
{
    color: #5c738f;
}
div#footerlinks
{
    height: 20px;
    line-height: 20px;
    text-align: center;
}
div#copyright
{
    line-height: 20px;
    text-align: center;
}

div#sorts
{
    height: 289px;
    width: 294px;
    display: none;
}
div#sorts-tag
{
    width: 77px;
    height: 35px;
    background-color: #f8fcff;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    line-height: 35px;
    text-align: center;
    color: #527299;
    padding-left: 5px;
    border: 1px #9c9c9c solid;
    border-bottom: none;
}
a#sorts-name
{
    width: 70px;
    text-align: center;
}
div#sorts-content
{
    width: 294px;
    background-color: #f8fcff;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding-top: 10px;
    border: 1px #9c9c9c solid;
    border-top: none;
}
div.sorts-item
{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 2px;
    color: #527299;
}
div.sorts-item-alternative
{
    background-color: #f0f5fe;
}
div.sorts-item-over
{
    color: #ef7a0d;
    text-decoration: underline;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.absolute
{
    position: absolute;
}
.inner
{
    width: 962px;
    margin: auto;
}
.logined
{
    display: none;
}
.logouted
{
    display: none;
}
.jobs
{
    display: none;
}
.recruitment
{
    display: none;
}
.highlight
{
    color: #ff0000;
}
.admin
{
    display: none;
}
